body {
	padding-top: 40px;
}

.contenedor {
	width: 98%;
	margin: auto;
}


.contenedorimagenes {
	width: 98%;
	margin: auto;
}


.contenedor__h1 {
	background: orange;
	text-align: center;
	font-size: 70px;
	margin-top: 30px;
	padding-top: 10px;
}


.contenedor__h2 {
	background: orange;
	text-align: center;
	font-size: 70px;
	margin-top: 70px;
	padding-top: 10px;
}


.contenedor__h12 {
	font-size: 50px;
	position: absolute;
	display: inline;
	top: 50px;
	bottom: 0;
	left: 20%;
}

.contenedor__h13 {
	font-size: 50px;
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 20%;
	display: inline;
}

.contenedor__h3 {
	background: orange;
	text-align: center;
	font-size: 70px;
	margin-top: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.contenedor__p1 {
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
}

.contenedor__img1 {
	margin-top: 50px;
	border-radius: 20px;
	height: 500px;

}


.contenedor__h4 {
	background: orange;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__p2 {
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__h5 {
	background: orange;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__p3 {
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
}

.contenedor__img2 {
	margin-top: 50px;
	border-radius: 20px;
	height: 500px;
	width: 550px;
}


.contenedor__h6 {
	background: orange;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__p4 {
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__img3 {
	margin-top: 50px;
	border-radius: 20px;
	height: 500px;
	width: 550px;
}


.contenedor__h7 {
	background: orange;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__p5 {
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__img4 {
	margin-top: 50px;
	border-radius: 20px;
	height: 500px;
	width: 550px;
}


.contenedor__h8 {
	background: orange;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__p6 {
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__img5 {
	margin-top: 50px;
	border-radius: 20px;
	height: 500px;
	width: 550px;
}


.contenedor__h9 {
	background: orange;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__p7 {
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__img6 {
	margin-top: 50px;
	border-radius: 20px;
	height: 500px;
	width: 550px;
}


.contenedor__h10 {
	background: orange;
	margin-top: 50px;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}


.contenedor__h11 {
	margin-top: 30px;
	font-size: 40px;
	text-align: center;
}


.contenedor__img7 {
	position: absolute;
	height: 150px;
	left: 46%;
	right: 0;
	top: 2.5em;
	bottom: 0;
	border-radius: 20px;
}